<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/animate.css">
<link rel="stylesheet" type="text/css" href="/css.css">
<title> Nanaki Bot </title>
</head>
<body>

<div id="preload">
 <div id="preloadContent">
 <div id="loadingImg">
 <img src="nanakiButton.png">
 </div>
 <div id="loadingText">
 loading
 </div>
 </div>
</div>

<div id="container-fluid">
<div id="mainNav">
</div>
